<%- include("templates/header") %>
    <h1>Members Page</h1>
    <br>
    <h2>Welcome, <%= user %>!</h2>
    <br>
    <img src=<%=src %>>
    <br>
    <a href="/loggedin" class="btn mainpage-button">Main page</a>
<%- include("templates/footer") %>