    <nav class="navbar fixed-bottom footer-background">
        <div class="container-fluid">
            <div>
            <img src="icon.png" class="footer-icon">
            <a href="/logout" class="btn logout-button">Log out</a>
            </div>
            <span class="navbar-text">
                Copyright lololol
            </span>
        </div>
    </nav>
</body>

</html>